In [1]:
import pandas as pd
import pandasql as ps
import threading
import sqlite3

In [2]:
# initialize data of lists.
d1 = {'Name':['Tom', 'nick', 'krish', 'jack'],
		'Age':[20, 21, 19, 18]}
d2 = {'Name':['Tom2', 'nick2', 'krish2', 'jack2'],
		'Age':[21, 22, 20, 19]}
d3 = {'Name':['Tom3', 'nick3', 'krish3', 'jack3'],
		'Age':[22, 23, 21, 20]}
d4 = {'Name':['Tom4', 'nick4', 'krish4', 'jack4'],
		'Age':[23, 24, 22, 21]}
d5 = {'Name':['Tom5', 'nick5', 'krish5', 'jack5'],
		'Age':[24, 25, 23, 22]}

In [3]:
# Create DataFrame
df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)
df3 = pd.DataFrame(d3)
df4 = pd.DataFrame(d4)
df5 = pd.DataFrame(d5)

In [4]:
# Print the output.
df1,df2,df3,df4,df5

(    Name  Age
 0    Tom   20
 1   nick   21
 2  krish   19
 3   jack   18,
      Name  Age
 0    Tom2   21
 1   nick2   22
 2  krish2   20
 3   jack2   19,
      Name  Age
 0    Tom3   22
 1   nick3   23
 2  krish3   21
 3   jack3   20,
      Name  Age
 0    Tom4   23
 1   nick4   24
 2  krish4   22
 3   jack4   21,
      Name  Age
 0    Tom5   24
 1   nick5   25
 2  krish5   23
 3   jack5   22)

In [5]:
if __name__ == "__main__":
    
#creating 5 Thread
    t1 = threading.Thread(target=df1)
    t2 = threading.Thread(target=df2)
    t3 = threading.Thread(target=df3)
    t4 = threading.Thread(target=df4)
    t5 = threading.Thread(target=df5)

In [6]:
#starting 5 thread
t1.start()
t2.start()
t3.start()
t4.start()
t5.start()

Exception in thread Thread-6:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 932, in _bootstrap_inner
Exception in thread Thread-7:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 932, in _bootstrap_inner
Exception in thread Thread-8:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 932, in _bootstrap_inner
Exception in thread Thread-9:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 932, in _bootstrap_inner
    self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 869, in run
    Exception in thread Thread-10:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 932, in _bootstrap_inner
self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 869, in run
self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 869, in run
    self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 869, in run
    self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 869, in run
            if self._target:
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py", line 1442, in __nonzero__
if self._target:
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py", line 1442, in __nonzero__
if self._target:
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py", line 1442, in __nonzero__
    if self._target:
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py", line 1442, in __nonzero__
    if self._target:
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py", line 1442, in __nonzero__
    raise ValueError(
ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
    raise ValueError(
ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
        raise ValueError(
ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
raise ValueError(
ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
    raise ValueError(
ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [7]:
#waiting till respective thread execute
t1.join()
t2.join()
t3.join()
t4.join()
t5.join()

In [8]:
# ps.sqldf("INSERT_INTO t1,t2,t3,t4,t5(Name, Age)
#          VALUES(Boy,20)");

In [9]:
sqliteConnection = sqlite3.connect('multithreading.db')

In [10]:
cursor = sqliteConnection.cursor()

In [11]:
print("Connected to the database")

Connected to the database

In [12]:
# SQL command to create a table in the database
sql_command = """CREATE TABLE emp ( 
staff_number INTEGER PRIMARY KEY, 
fname VARCHAR(20), 
lname VARCHAR(30), 
gender CHAR(1), 
joining DATE);"""

In [13]:
# execute the statement
cursor.execute(sql_command)

OperationalError: table emp already exists

NameError: name 'tables' is not defined