In [1]:
import os
import sqlite3
import fnmatch
import numpy as np
import pandas as pd 
import pandasql as ps

In [2]:
#To access folder having file to operate on
folder_to_view ="D:\\multipleRead"

In [3]:
#print(os.listdir(folder_to_view))

In [4]:
#get the list of files in our folder 
file =  os.listdir(folder_to_view)
print(file)

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'D:\\multipleRead'

In [5]:
type(file)

NameError: name 'file' is not defined

In [6]:
df= pd.DataFrame(file)

NameError: name 'file' is not defined

In [7]:
q1 = """SELECT * FROM df """

print(ps.sqldf(q1))

PandaSQLException: (sqlite3.OperationalError) no such table: df
[SQL: SELECT * FROM df ]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [8]:
ps.sqldf("select * from df")

PandaSQLException: (sqlite3.OperationalError) no such table: df
[SQL: select * from df]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [9]:
# for file in os.listdir('D:\\multipleRead'):
#     if fnmatch.fnmatch(file, '*.xlsx'):
#         pd.read_excel(open(file, 'rb'), sheetname = 'Sheet1')
#         """ Do your thing to file """