In [1]:
import pandas as pd

# load data
df = pd.read_excel('bio.xlsx')

# removing NA values from the
# dataframe df
df = df.fillna("")

# removing all the blank rows
df1 = df.dropna(how='all')

# picking the rows where present
# or absent values are there from
# 14 no column
df1 = df1[df1['Unnamed: 14'].str.contains('sent')]

# Extracting only the Employee
# Names
df_name = df.dropna(how='all')

# from column no 3 we are picking
# Employee names
df_name = df_name[df_name['Unnamed: 3'].str.contains('Employee')]

# creating a new dataframe for Status,
# Punch Records and Employee Codes
zippedList = list(
	zip(df1['Unnamed: 14'], df1['Unnamed: 15'], df_name['Unnamed: 7']))

abc = pd.DataFrame(zippedList)
abc.head()

,0,1,2
0,Present,"08:33:in(Second Door),08:35:(Second Door),08:3...",COMP123:John Sherrif
1,Absent,,COMP124:James Lee
2,Present,"09:02:in(Second Door),09:06:(Main Door),09:59:...",COMP125:Wayne McDonald

In [4]:
# Splitting the values by comma in 1
# no column (punch records)
for i in range(len(abc)):
	abc[1][i] = abc[1][i].split(",")

second_door = []

for i in range(len(abc)):
	s_d = []
	
	# Extracting all the values which contains
	# only :in(Second Door) or :out(Second Dorr)
	for j in range(len(abc[1][i])):
		if ':in(Second Door)' in abc[1][i][j]:
			s_d.append(abc[1][i][j])

		if 'out(Second Door)' in abc[1][i][j]:
			s_d.append(abc[1][i][j])

	second_door.append(s_d)
(second_door[0])

['08:33:in(Second Door)',
 '09:04:out(Second Door)',
 '09:09:in(Second Door)',
 '09:15:out(Second Door)',
 '09:52:in(Second Door)',
 '10:53:out(Second Door)',
 '11:47:in(Second Door)',
 '13:08:out(Second Door)',
 '13:14:in(Second Door)',
 '13:36:out(Second Door)',
 '14:27:in(Second Door)',
 '14:48:in(Second Door)',
 '14:56:out(Second Door)',
 '15:04:in(Second Door)',
 '16:22:out(Second Door)',
 '16:34:in(Second Door)']

In [5]:
# Punch Records should start with
# the keyword 'in'. If it doesn't
# follow then we wil add 'in' and it
# significants that the employee forgot
# to do punch in
in_time = []
for i in range(len(second_door)):
	try:
		if ':in(Second Door)' not in second_door[i][0]:
			second_door[i].insert(0, 'in')

	except:
		pass
	
# Punch Records should end with the keyword
# 'out'. If it doesn't follow then we wil
# add 'out' and it significants that the
# employee forgot to do punch out
out_time = []
for i in range(len(second_door)):
	try:

		if ':out(Second Door)' not in second_door[i][(len(second_door[i]))-1]:
			second_door[i].insert(((len(second_door[i]))), 'out')
	except:
		pass
second_door[0]

['08:33:in(Second Door)',
 '09:04:out(Second Door)',
 '09:09:in(Second Door)',
 '09:15:out(Second Door)',
 '09:52:in(Second Door)',
 '10:53:out(Second Door)',
 '11:47:in(Second Door)',
 '13:08:out(Second Door)',
 '13:14:in(Second Door)',
 '13:36:out(Second Door)',
 '14:27:in(Second Door)',
 '14:48:in(Second Door)',
 '14:56:out(Second Door)',
 '15:04:in(Second Door)',
 '16:22:out(Second Door)',
 '16:34:in(Second Door)',
 'out']

In [7]:
# final_in contains PUNCH - IN
# records for all employees
final_in = []

# final_out contains PUNCH - OUT
# records for all employees
final_out = []

for k in range(len(second_door)):
	in_gate = []
	out_gate = []
	
	# even position should be for Punch-
	# IN and odd position should be for
	# Punch - OUT if it doesn't follow
	# then we will create the pattern by
	# putting 'in' or 'out'
	for i in range(len(second_door[k])):
		if i % 2 == 0 and 'in' in second_door[k][i]:
			in_gate.append(second_door[k][i])
			try:
				if 'out' not in second_door[k][i+1]:
					out_gate.append('out')
			except:
				pass
		if i % 2 != 0 and 'out' in second_door[k][i]:
			out_gate.append(second_door[k][i])
			try:
				if 'in' not in second_door[k][i+1]:
					in_gate.append('in')
			except:
				pass
		if i % 2 != 0 and 'in' in second_door[k][i]:
			in_gate.append(second_door[k][i])

			try:
				if 'out' not in second_door[k][i+1]:
					out_gate.append('out')
			except:
				pass

		if i % 2 == 0 and 'out' in second_door[k][i]:
			out_gate.append(second_door[k][i])

			try:
				if 'in' not in second_door[k][i+1]:
					in_gate.append('in')
			except:
				pass
	final_in.append(in_gate)
	final_out.append(out_gate)

# final_in or final_out keep the
# records as a list under list form.
# to solve the problem we will merge the list

# aa contains merged list of Punch - IN
aa = final_in[0]
for i in range(len(final_in)-1):
	aa = aa + final_in[i+1]
	
# bb contains merged list of Punch - OUT
bb = final_out[0]
for i in range(len(final_out)-1):
	bb = bb + final_out[i+1]

for i in range(len(final_in[0])):
	print(final_in[0][i], ' ', final_out[0][i])

08:33:in(Second Door)   09:04:out(Second Door)
09:09:in(Second Door)   09:15:out(Second Door)
09:52:in(Second Door)   10:53:out(Second Door)
11:47:in(Second Door)   13:08:out(Second Door)
13:14:in(Second Door)   13:36:out(Second Door)
14:27:in(Second Door)   out
14:48:in(Second Door)   14:56:out(Second Door)
15:04:in(Second Door)   16:22:out(Second Door)
16:34:in(Second Door)   out

In [8]:
# Creating a dataframe called df_final
df_final = []
df_final = pd.DataFrame(df_final)

# Merging the Employee Names
Name = []
for i in range(len(abc)):
	for j in range(len(final_in[i])):
		Name.append(abc[2][i])
df_final['Name'] = Name

# Zipping the Employee Name, Punch -IN
# records and Punch - OUT records
zippedList2 = list(zip(df_final['Name'], aa, bb))
abc2 = pd.DataFrame(zippedList2)

# Renaming the dataframe
abc2.columns = ['Emp Code', 'Punch - IN', 'Punch - OUT']
abc2.to_excel('output.xlsx', index=False)

# Print the table
display(abc2)

                  Emp Code             Punch - IN             Punch - OUT
0     COMP123:John Sherrif  08:33:in(Second Door)  09:04:out(Second Door)
1     COMP123:John Sherrif  09:09:in(Second Door)  09:15:out(Second Door)
2     COMP123:John Sherrif  09:52:in(Second Door)  10:53:out(Second Door)
3     COMP123:John Sherrif  11:47:in(Second Door)  13:08:out(Second Door)
4     COMP123:John Sherrif  13:14:in(Second Door)  13:36:out(Second Door)
5     COMP123:John Sherrif  14:27:in(Second Door)                     out
6     COMP123:John Sherrif  14:48:in(Second Door)  14:56:out(Second Door)
7     COMP123:John Sherrif  15:04:in(Second Door)  16:22:out(Second Door)
8     COMP123:John Sherrif  16:34:in(Second Door)                     out
9   COMP125:Wayne McDonald  09:02:in(Second Door)  09:59:out(Second Door)
10  COMP125:Wayne McDonald                     in  11:15:out(Second Door)
11  COMP125:Wayne McDonald  12:21:in(Second Door)  13:50:out(Second Door)
12  COMP125:Wayne McDonald  14:21:in(Second Door)  16:03:out(Second Door)
13  COMP125:Wayne McDonald  16:10:in(Second Door)  16:25:out(Second Door)
14  COMP125:Wayne McDonald  17:21:in(Second Door)  19:05:out(Second Door)